<div id="messages-main-wrapper">
    <div id="conversations" class="conversations inline-divs">
        {{#each conversation}}
            <div data-index="{{@index}}" onclick="makeActive({{@index}})" id="conversation-{{this.conversationid}}"class="border-bottom conversation-wrapper active-target">
                <div class="conversation-left inline-divs">
                    <img class="circle-img-50" src="{{this.r_imgurl}}" alt="{{this.r_fname}}">
                </div>
                <div class="conversation-right inline-divs">
                    <span class="float-left">{{this.r_fname}} {{this.r_lname}}</span>
                    <span class="float-right">{{this.f1_timedate}} {{this.f2_timedate}}</span>
                    <br/>
                    <p class="conversation-subject">{{this.subject}}</p>
                </div>
            </div>
        {{/each}}
    </div>

    <div id="messages" class="inline-divs">
        {{#each conversation}}
        <div data-index="{{@index}}" id="conversation-messages-{{this.conversationid}}" class="conversation-div active-target">
            {{#each this.messages}}
            <div class="message-div">
                <p class="background"><span class="bg-line">{{this.f1_timedate}}</span></p>
                <div class="conversation-wrapper">
                    <div class="message-left inline-divs">
                        <img class="circle-img-35" src="{{this.s_imgurl}}" alt="{{this.s_fname}}">
                    </div>
                    <div class="message-right inline-divs">
                        <span class="float-left">{{this.r_fName}} {{this.r_lName}}</span>
                        <span>{{this.f2_timedate}}</span>
                        <br/>
                        <p class="coversation-subject">{{this.text}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            <div id="reply-form-{{@index}}" class="reply-form">
                <form id="messages-form-{{@index}}" METHOD="POST" action='/messages/send'>
                    <textarea name="add-reply-text" rows="4" class="reply-input-field input-field" placeholder="Write a message..."></textarea>
                    <button name="{{this.conversationid}}" type="submit" class="comment-btn blue-btn">send</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

    <style>

        #messages .conversation-div.active-target {
            display: none;
        }

        #messages .conversation-div.active-target.active {
            display: block;
        }

    </style>
    <script>

        function makeActive(index) {

            var elements = document.querySelectorAll(".active-target");

            elements.forEach((element) => {

                element.classList.remove("active");


            });

            var activeElements = document.querySelectorAll(`div[data-index='${index}']`)

            activeElements.forEach((element) => {

                element.classList.add("active");


            });
        }

        makeActive(0);
    </script>
</div>
