<div id="visit-profile-wrapper">
    <div id="view-profile-top-wrapper">
        <div id="profile-div-left" class="profile-divs">
            <div id="view-profile-bio">
                <img id="profile-img" class="circle-img-150" src="{{profile.imgurl}}" alt="{{profile.firstName}}"/>
                <h3 id="profile-name">{{profile.fname}} {{profile.lname}}</h3>
                <span>{{profile.about}}</span>
            </div>
        </div>

        <div id="profile-div-right" class="profile-divs align-bottom">
            <div>
                <button class="blue-btn">Message</button>
            </div>
            <div>
                <a>Likes</a>
                <a><button>+</button></a>
            </div>
            <div>
                <a>Posts</a>
            </div>
        </div>
    </div>

        <div class="profile-wrapper-posts">
            <div class="profile-inner-wrapper">
                <p>All posts by {{profile.fname}}:</p>
            </div>
            <div id="post-partial-div" class="profile-inner-wrapper">
                {{>posts postList = userPostList}}  
            </div>      
        </div>
</div>